<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Speryans">

    <title>En 5' Estoy</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/app.init.css">
  </head>

  <body>
    <div class="loader">
      <div class="loader-progress"><div class="loader-progress-inner"></div></div>
    </div>

    <div class="pace">
      <span class="pace-progress hex shape">0%</span>
    </div>

    <div class="app"></div>

    <script src="/javascripts/preloadjs.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
