<div id="map"></div>

<div class="e5e_box">
	<ul class="tabs">
		<li class="option active" id="tab_transport">&#xe072;</li>
		<li class="option" id="tab_commerce">&#xe040;</li>
	</ul>
	<div class="form" id="form_transport">
		<input type="text" id="fromTxt" placeholder="Ingresá dónde lo tomarás" />
		<input type="text" id="toTxt" placeholder="Ingresá a dónde querés ir" />
	</div>
	<div class="form" id="form_commerce">
		<select id="categories">
			<option value="-1">Seleccione una categoría</option>
		</select>
		<input type="text" id="searchTxt" placeholder="Buscá tu comercio o lugar cercano" />
	</div>
	<div class="search_box Aligner">
		<span class="search e5e_icon">&#xf1da;</span>
	</div>
</div>

<div class="e5e_sidebar">
	<span class="title">Transporte</span>
	<div class="container">
		<ul class="tabs">
			<li class="option active" id="transport">&#xe072;</li>
			<li class="option" id="taxi">&#xe066;</li>
		</ul>
		<div class="content">
			
		</div>
	</div>

	<span class="close e5e_icon">&#xf129;</span>
</div>